 /* work sans styles  */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700;800&display=swap');
 
  *{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
  

  /* common styles used */
  .btn{
    font-size: 20px;
    padding: 10px 15px;
    background:rgba(146, 104, 26, 0.836);
    border-radius: 7px;
    border: 0;
    color: white;
    
}
.btn:hover{
    background-color: aqua;
    cursor:grab;
    color: black;
}


  /* header related styles */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 25px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color: #424242;
}

/* banner section related styles */
.banner-content{
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-para{
  font-size: 0.8rem;
  font-weight: 400;
  color: #727272;
  margin-bottom: 2rem;
}
.banner-img{
  width: 100%;
  margin-top: 3.12rem;
}
/* Quick list of Our Features sections related styles */
.list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem; 
}
.list-left{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.7rem;
  margin-right: 4rem;
  margin-top: 5rem;
}
.team-img{
  height: 12rem;   
}
.list-title{
  width: 29rem;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}
.quick-list{
  color: #727272;
  font-weight: 500;
}
.features{
  color: #FF900E;
  font-weight: 600;
}

.list-para{
  width: 30rem;
  font-size: 0.9rem;
  color:  #727272;
  margin-bottom: 2rem;
}
 






/* responsive styles */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav, .list-container{
    flex-direction: column;
  }
  .list-container{
    padding: 1.25rem;
    align-items: stretch;
  }
  .banner-title{
    font-size: 2rem;
  }
  .list-para, .list-title{
    width: 20rem;
  }
  .list-left{
    grid-template-columns: 1fr;
  }
  .team-img{
     
    height: auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  header{
    padding: 50px;
  }
  nav, .list-container{
    flex-direction: column;
  }
}

/* main */
/* main{
  max-width: 1440px;
  margin: 0 auto;
} */